/* css */
body {
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
}

#border{
  box-sizing: border-box;
  line-height: 500px;
  position: relative;
  top: ;
  margin: 0 auto;
  width: 550px;
  height: 550px;
  border: 1px solid #000;
  overflow: hidden;
}

#title{
  font-size: 20px;
  position: relative;
  bottom: 200px;
  text-align: center;
}

#leftyellow{
  position: absolute;
  bottom: -32px;
  left: -245px;
}

#leftblue{
  position: absolute;
  bottom: -45px;
  left: -340px;
}

#leftpink{
  position: absolute;
  bottom: 5px;
  left: -300px;
}

#yellowcircle{
  position: absolute;
  bottom: -30px;
  left: 150px;
}

#pinkcircle{
  position: absolute;
  bottom: 15px;
  left: 100px;
}

#bluecircle{
  position: absolute;
  bottom: -35px;
  left: 45px;
}

#rightyellow{
  position: absolute;
  bottom: -20px;
  left: 460px;
}

#rightpink{
  position: absolute;
  bottom: 15px;
  left: 400px;
}

#rightblue{
  position: absolute;
  bottom: -30px;
  left: 425px;
}

.italics{
  font-style: italic;
}

.text{
  font-size: 500px;
  font-weight: bold;
  transform: skew(-5deg);
  opacity: 0.5;
}

.intro{
  text-align: center;
}

.yellow{
  color: #f6de02;
}

.pink{
  color: #ed008c;
}

.blue{
  color: #3d99e4;
}
