
/* css */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
}

#border{
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  overflow: hidden;
}

#title{
  font-size: 20px;
  font-style: italic;
  position: relative;
  top: 50px;
  text-align: center;
}

#leftyellow{
  position: absolute;
  bottom: ;
  right: ;
}

#leftblue{
  position: absolute;
  bottom: ;
  right: ;
}

.text{
  font-size: 500px;
  font-weight: bold;
  transform: skew(-5deg);
  opacity: 0.5;
}

.yellow{
  color: #f6de02;
}

.pink{
  color: #ed008c;
}

.blue{
  color: #3d99e4;
}
